.MuiPaper-root.MuiDrawer-paperAnchorLeft {
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}

#burger-container {
  z-index: 2000;
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--color-green);
  padding: 15px 15px 5px 15px;
  ;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--button-box-shadow);
  border: var(--button-border);
}

#burger-container:hover {
  background: var(--color-green-hover);
}

#burger {
  display: block;
}

#burger span {
  background: #eee;
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.5s;
}

#burger-container.open span:nth-child(2) {
  transform: rotate(180deg);
  opacity: 0;
}

#burger-container.open span:nth-child(3) {
  transform: rotate(135deg);
  top: -10px;
}

#burger-container.open span:nth-child(1) {
  transform: rotate(-135deg);
  top: 7px;
}

.menu-content {
  width: 85%;
  padding: 20px;
  margin: 10px auto;
}

.version {
  font-size: .75em;
}

.button.kartalla {
  width: 50%;
  margin: 5px 25%;
  background: var(--color-green);
}

.button.kartalla:hover {
  background: var(--color-green-hover);
}

.button.kartalla>span.MuiButton-label {
  color: white;
}
