
#burger-container{
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #1d7d74;
  padding: 15px 15px 5px 15px;;
  border-radius: 5px;  
  cursor: pointer;
}

#burger{
  display: block;
}

#burger span{
  background: #eee;
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.5s;
}

#burger-container.open span:nth-child(2) {
  transform: rotate(180deg);
  opacity: 0;
}

#burger-container.open span:nth-child(3){
  transform: rotate(135deg);
  top: -10px;
}

#burger-container.open span:nth-child(1){
  transform: rotate(-135deg);
  top: 10px;
}

.menu {
  width: 0px;
  height: 100vh;
  position: absolute;
  left: 0px;
  transition: all ease-in-out 0.5s;
  background: #1d7d74;
  color: #fff;
  opacity: 0.95;
  overflow: hidden;
}

.menu.open {
  width: 80vw;
}

.menu-content {
  width: 50vw;
  margin: 10vh auto;
}
