.MuiExpansionPanel-root.Mui-expanded {
  margin:  0 0 3px 0 !important;
}

.MuiExpansionPanelDetails-root.collapsible-body {
  display: block;
}

.MuiExpansionPanelSummary-content, .MuiExpansionPanelSummary-content.Mui-expanded {
  margin: 10px 0 !important;
}

.collapsible-header {
  font-weight: 600;
}

.secondary-header {
  color: var(--theme-color-font-sub-header);
}

.sub-header {
  font-size: 0.75rem;
  color: var(--theme-color-font-sub-header);
}

.collapsible-body {
  padding: 5px 20px 10px 20px;
  white-space: pre-wrap;
  font-family: monospace;
}

table {
  border-spacing: 0px;
}
td {
  vertical-align: top;
  padding: 0;
}

tr {
  border: none;
}

td:nth-child(1) {
  width: 90px;
}
td:nth-child(2) {
  width: 35px;
}

.MuiExpansionPanelSummary-expandIcon.MuiIconButton-edgeEnd {
  color: var(--theme-color-font-sub-header);
}

div.MuiPaper-root.MuiExpansionPanel-root {
  color: var(--theme-color-font);
  background-color: var(--theme-color-bg);
  transition: background-color .25s;
}

div.MuiPaper-root.MuiExpansionPanel-root:before {
  opacity: 1;
  background-color: var(--theme-color-event-before);
}
