.MuiExpansionPanel-root.Mui-expanded {
  margin:  0 0 3px 0 !important;
}

.MuiExpansionPanelDetails-root.collapsible-body {
  display: block;
}

.MuiExpansionPanelSummary-content, .MuiExpansionPanelSummary-content.Mui-expanded {
  margin: 10px 0 !important;
}

/* .collapsible.expandable {
  max-width: 600px;
  margin: 0 auto;
}

.collapsible-header {
  font-weight: 600;
} */

.sub-header {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
}

.collapsible-body {
  padding: 5px 20px 10px 20px;
  white-space: pre-wrap;
  font-family: monospace;
  background-color: #fff;
}

td {
  vertical-align: top;
  padding: 0;
}

tr {
  border: none;
}

td:nth-child(1) {
  width: 90px;
}
td:nth-child(2) {
  width: 35px;
}