.title {
  position: absolute;
  /* top: 1vh; */
  left: 3%;
  margin: 0;
  font-size: calc(10px + 5vmin);
  letter-spacing: 2px;
  font-weight: 600;
  font-family: Annie, cursive;
  color: rgb(47, 192, 178); /* have to be lighther than primary */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.theme-button.MuiIconButton-root {
  color: white;
  background-color: var(--color-green);
  position: absolute;
  left: 10px;
  bottom: 5px;
  box-shadow: var(--button-box-shadow);
  border: var(--button-border);
}

.theme-button.MuiIconButton-root:hover {
  background-color: var(--color-green-hover);
}

.MuiSwitch-root.switch {
  position: absolute;
  right: 10px;
  bottom: 15px;
  transform: rotate(90deg);
  background-color: var(--color-green);
  border-radius: 5px;
  box-shadow: var(--button-box-shadow);
  border: var(--button-border);
}
