:root {
  --primary-color: #1d7d74;
  --primary-color-hover: #1b7068;
}

.theme-dark {
  --theme-body-bg-color: darkgrey;
  --theme-event-font-color: rgba(233, 233, 233, 1);
  --theme-event-bg-color: rgb(44, 44, 44);
  --theme-sub-header-color: rgba(255, 255, 255, 0.6);
  --theme-link-color: #1d7d74;
  --theme-event-before-color: rgba(255, 255, 255, 0.2);
}

.theme-light {
  --theme-body-bg-color: lightgrey;
  --theme-event-font-color: rgb(40, 40, 40);
  --theme-event-bg-color: rgb(233, 233, 233);
  --theme-sub-header-color: rgba(0, 0, 0, 0.6);
  --theme-link-color: rgb(0, 0, 238);
  --theme-event-before-color: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  background-color: rgb(121, 115, 104);
  padding-right: 0px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical {
    width: 8px;
    border: 1px solid rgba(255, 255, 255, 0.23);
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.23);
}

a, a:visited {
  color: var(--theme-link-color)
}
