:root {
  --color-green: #1d7d74;
  --color-green-hover: #1b7068;
  --button-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  --button-border: 1px solid rgba(255, 255, 255, 0.25);
}

.theme-dark {
  --theme-color-bg: rgb(44, 44, 44);
  --theme-color-font: rgba(233, 233, 233, 1);
  --theme-color-font-sub-header: rgba(255, 255, 255, 0.6);
  --theme-color-link: #29aea0;
  --theme-color-event-before: rgba(255, 255, 255, 0.2);
  --theme-background-image: url('./assets/nino-pispala-600.jpg');
}

.theme-light {
  --theme-color-bg: rgb(233, 233, 233);
  --theme-color-font: rgb(40, 40, 40);
  --theme-color-font-sub-header: rgba(0, 0, 0, 0.6);
  --theme-color-link: rgb(0, 0, 238);
  --theme-color-event-before: rgba(0, 0, 0, 0.2);
  --theme-background-image: url('./assets/IMG_4189-600.jpg');
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  background-color: rgb(135, 130, 120);
  padding-right: 0px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 8px;
  border: 1px solid rgba(255, 255, 255, 0.23);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.23);
}

a, a:visited {
  color: var(--theme-color-link)
}
