#modal-0 {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
    height: 85vh;
}

#modal-0::-webkit-scrollbar {
    -webkit-appearance: none;
}
#modal-0::-webkit-scrollbar:vertical {
    width: 8px;
}
#modal-0::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.map-link {
    text-decoration: #61edff  underline;
    color: #61edff;
    cursor: pointer;
}

.map {
    height: 100%;
    z-index: 10000;
}
.leaflet-container {
    height: 70vh;
    z-index: 10000;
    /* width: 500px; */
  }

.modal .modal-content {
    padding: 10px 0 10px 10px;
    height: 100%;
 }

.modal-content > h4, .modal-footer {
    display: none;
}
