ul {
  list-style-type: none;
  width: 85%;
  padding: 20px;
  margin: 10px auto;
}

/* use this if more than one sonsor */
/*
li.sponsors {
  border: 2px dotted black;
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
}
*/

.sponsors > h5 {
  margin-top: 0px;
}

.sponsors h5, .sponsors h4 {
  text-align: center;
}

.sponsors img {
  display: block;
  width: 120px;
  margin: 0px auto;
}
